.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  position: absolute;
  top: 50%;
}

.some-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.avatar {
  width: 25px;
  border-radius: 50%;
}
