.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.some-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.avatar {
  width: 25px;
  border-radius: 50%;
}
