<!doctype html>
<html>
<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
      <link type="text/css" rel="stylesheet" href="/static/css/custom.css" />
  {% endblock %}

  <title>{% if album_title %}{{ album_title }}{% else %}1pic1day{% endif %}</title>
  <script src="/static/js/lib/moment.js"></script>
  {% endblock %}
</head>
<body>
  <!-- Wrap all page content here -->
  <div id="wrap">
    {% if logged_in %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light some-padding">
      <a class="navbar-brand" href="/">
        📸
      </a>
      {% if album_title %}
      <a class="nav-item title">
        {{ album_title }}
        <a class="nav-item nav-link edit" href="{{ url_for('main.edit_album_name', album_id=request.path.split('/')[-1]) }}">edit title</a>
      </a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" {% if request.endpoint == 'create' %} class="nav-item nav-link active" {% endif %} href="{{ url_for('main.create_album') }}">Create 1 album</a>
          <a class="nav-item nav-link" {% if request.endpoint == 'albums' %} class="nav-item nav-link active" {% endif %} href="{{ url_for('main.get_albums') }}">My albums</a>
          {% if can_manage %}
              <a class="nav-item nav-link" {% if request.endpoint == 'manage' %} class="nav-item nav-link active" {% endif %} href="{{ url_for('main.manage_album', album_id=request.endpoint) }}">Edit this album</a>
          {% endif %}
          <a class="nav-item nav-link" {% if request.endpoint == 'profile' %} class="nav-item nav-link active" {% endif %} href="{{ url_for('main.profile') }}">Hello {{ userinfo['name'].split(" ")[0] }}  <img class="avatar" src="{{ userinfo['picture'] }}"/></a>
        </div>
      </div>
    </nav>
    {% endif %}

    <!-- Begin page content -->
    <main id="content" role="main" class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info" role="alert">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}

      {% endblock %}
    </main>

  </div>

  {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
      <script src="/static/js/lib/plugins.js" defer></script>
  {% endblock %}
</body>
</html>
