{% extends "base.html" %}

{% block content %}
    <h1>Create 1 album</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>

        {{ form.photo(multiple="multiple")}}
        {% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <button>
            {{ form.submit }}
        </button>
    </form>

    {% if success %}
    <br>
    <p>Upload Success!</p>
    {% endif %}
{% endblock %}
