{% extends "base.html" %}

{% block content %}

{% if not logged_in %}
<div class="">
  <a class="btn btn-primary" href="/create">Create Anon Album</a>
</div>
</br>
<div class="login-box">
  <a class="btn btn-primary" href="/login">Log In</a>
</div>
{% else %}
<div class="logged-in-box auth0-box logged-in">
  <h2>Welcome {{userinfo['name']}}</h2>
  <pre>{{userinfo_pretty}}</pre>
  <a class="btn btn-primary btn-logout btn-block" href="/logout"
    >Logout</a
  >
</div>
{% endif %}

{% endblock %}
